:root {
  --amin: linear-gradient(to right, #8e2de2, #4a00e0);
}

.uploaderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  width: 400px;
}

.headText {
  color: blue;
  font-size: 2.2rem;
  line-height: 2.3rem;
  margin-top: -30px;
}

.headText span {
  color: blueviolet;
  font-style: italic;
}

.imgWrapper {
  height: 250px;
  border-radius: 5px;
  background-color: white;
}

/* Image */

.imagePlace {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.imagePlace:hover .imgCloseIcon {
  display: block;
}

.imagePlace img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgCloseIcon {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
  color: blueviolet;
  cursor: pointer;
}

/* Upload */

.uploadImgWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed blueviolet;
  text-align: center;
  color: blue;
}

.uploadIcon {
  font-size: 3rem;
}

.uploadText {
  margin-top: 3px;
  font-weight: 550;
  font-size: 1.05rem;
}

/* Label */

.uploadLabel {
  display: block;
  margin-top: 15px;
}

.uploadLabel input[type="file"] {
  display: none;
}

.btnUpload {
  padding: 10px;
  background: var(--amin);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 550;
}

/* Submit */

.submitBtn {
  padding: 10px;
  background: var(--amin);
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  height: 38px;
}

/* Loader */

.loaderStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* URL */

.urls {
  display: flex;
  flex-direction: column;
}

/* URL handle Copy */

.urls a {
  margin-bottom: 20px;
}

.urls input {
  background-color: transparent;
  width: 80%;
  cursor: pointer;
}

.copyText {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
}

.copyText.active {
  background-color: rgba(35, 0, 253, 0.8);
}

.copyText.active::before {
  display: block;
}

.copyText::before {
  content: "Copied!";
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  border-radius: 35px;
  transform: translate(-50%, -50%);
  display: none;
}

.iconCopy {
  background-color: #edecee;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .uploaderWrapper {
    width: 350px;
  }
  .imgWrapper {
    height: 200px;
  }
}
